<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Andy Fish" %></h1>
  <p>Fuck Warfish. This is better.</p>
</section>

<section class="row">
  <article class="column">
    <h2>Boards</h2>
    <ul>
      <li>
        <a href="#">Hottub Time Portal</a>
      </li>
    </ul>
  </article>
</section>
